.book_item img {
    height: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    transition: .3s;
    border-radius: 3px;
}
.book_item img:hover{
    transform: scale(1.04);
}
.book_item {
    background: #EDCE9F;
    padding: 20px 10px 35px 10px;
    display: grid;
    grid-template-rows: 300px 200px;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: center;
    height: 500px;
    width: 80%;
    justify-content: center;
}
.titles_book{
    height: 200px;
    display: grid;
    align-items: start;
    grid-template-rows: 80px 30px 30px 30px;
}


.book_item span {
    text-align: center;
}

.book_item button {
    padding: 10px 20px;
    /*background: #35BF43;*/
    background: radial-gradient(circle, rgba(5,223,175,1) 0%, rgba(78,168,154,1) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: 0;
    width: 100px;
    justify-self: center;
    cursor: pointer;
    transition: .2s;
    outline: none;
}
.book_image{
    justify-self: center;
    justify-items: center;
    justify-content: center;
}
.book_item button:hover {
    transform: scale(1.04);
}

.price {
    font-size: 14px;
}

.author {
    font-size: 12px;
}

