.basket_title{
    font-size: 25px;
    justify-self: center;
    font-weight: 500;
    border-bottom: 1px solid black;

}
.basket{
    display: grid;
}
.basket_total_title{
    border-top: 1px solid black;
    margin-top: 20px;
    padding-top: 20px;


}
.basket_total_title span{
    margin-left: 50px;
    font-weight: 600;
}
.basket_pay{
    background-color: #5dc6c6;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3px 3px 5px #7c7c7c;
}
