.basket_title{
    font-size: 25px;
    justify-self: center;
    font-weight: 500;
    border-bottom: 1px solid black;

}
.basket{
    display: grid;
}
.basket_total_title{
    border-top: 1px solid black;
    margin-top: 20px;
    padding-top: 20px;


}
.basket_total_title span{
    margin-left: 50px;
    font-weight: 600;
}
