.sorted_block_list{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 5px;
    position: absolute;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background: rgba(71, 71, 71, 0.84);
    z-index: 100;
    margin-left: 40px;

    box-shadow: 5px 5px 12px #484848;
}
.sorted_block_list span{
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;

}
