.book_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: end;
    width: 90%;
    grid-row-gap: 100px;


}
.page_number{
    margin-left: 5px;
    padding: 3px;
}
.pagination{
    display: flex;
    justify-content: center;
    padding-right: 10%;
}
