.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    align-items: center;
    width: 100%;

}
.logo{
    min-width: 290px;
    display: grid;
    align-items: end;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 5fr;
}
.logo img{
    width: 134px;
    height: 61px;
}
.logo span{
    font-family: Rye, serif;
    font-size: 24px;
}
.profile_block{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 10px;
    justify-content: start;
    justify-items: start;
    justify-self: end;
    align-items: center;
    padding-right: 20px;
}
.basket{
    display: grid;
    justify-self: end;

}
.profile_block svg{
    cursor: pointer;
    transition: .2s;
}
.profile_block svg:hover{
    transform: scale(1.05);
}
.logout{
    cursor: pointer;
}
