*{
    padding: 0px;
    margin: 0px;
    font-family: Montserrat;
    text-decoration: none;
}
a{
    color: black;
}
body{
    height: 100vh;
    background-color: #EAD3B1;
    width: 80%;
    margin: 20px auto;

}
#root{


}
.App{
    display: grid;
    grid-template-rows: 70px 30px 10fr ;
    grid-gap: 20px;

    /*height: 100vh;*/
}
