*{
    padding: 0px;
    margin: 0px;
    font-family: Montserrat;
}
body{
    height: 100vh;

}
#root{


}
.App{
    display: grid;
    grid-template-rows: 50px 10fr;
    grid-gap: 50px;

    /*height: 100vh;*/
}
