.filter {
    padding: 0px 2%;
    position: relative;
    display: grid;
    grid-template-columns: 250px  300px;
    align-items: center;
}

.list_filter_items {
    margin-top: 60px;
    border: 2px solid #8f8f8f;
    width: 20%;
    padding: 10px;
    position: absolute;
    border-radius: 5px;
    background-color: rgba(14, 14, 34, 0.55);
    box-shadow: 3px 3px 3px #cccccc;
    color: white;
}


