.right_block{
    display: grid;
    grid-template-rows: 50px 15fr 50px;
    grid-gap: 50px;
}
.rectangle3{
    z-index: -1;
    height: 300px;
    width: 500px;
    background: #FFF7AA;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 30px 30px 4px rgba(0, 0, 0, 0.12);
    clip-path: polygon(100% 100%, 0 0, 100% 0%);
}
.wrap2{
    z-index: -1;
    position: absolute;
    top:-10px;
    right: 0;
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}
